<div class="col-12 mb-3">
  <div class="card">
    <div class="card-body">
      <p style="display : inline;" class="card-title">
        {{ train_no }} 번 열차
      </p>
      <a data-toggle="collapse" href="#{{ train_no }}" role="button" aria-expanded="false" aria-controls="aa" style="float : right;" class="btn btn-light" href="#" >&or;</a> 
    </div>
    <div class="collapse" id="{{ train_no }}">
      <div class="card card-body">
      {{info}}
      {% comment %} {{train_detail[train]}} {% endcomment %}
        <p>열차</p>
      </div>
    </div>
  </div>
</div> 